.Rproj.user
.Rhistory
.RData
.Ruserdata
index2.Rmd
index2.html
index2_files/
index_old.Rmd
index_old2.Rmd
index_old3.Rmd
subset.Rmd
subset.html
subset_files/
test.Rmd
test.log
test.tex
topic1.Rmd
topic1.html
topic2.Rmd
topic2.html
topic3.Rmd
topic3.html
topic4.Rmd
topic4.html
CRLA_3D.png
CRLA_DEM_fill2.tif
grammar.Rmd
grammar.html
grammar_files/
mtcars.png
cdc_masking_map.jpeg
data/route.cpg
data/route.dbf
data/route.prj
data/route.sbn
data/route.sbx
data/route.shp
data/route.shp.xml
data/route.shx